<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="csci448.appigators.snappydecisions">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".StartActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".NormalDecisionActivity"
			android:parentActivityName=".StartActivity">
		</activity>
		<activity android:name=".FoodDecisionActivity"
			android:parentActivityName=".StartActivity">
		</activity>
		<activity android:name=".ProductDecisionActivity"
			android:parentActivityName=".FoodDecisionActivity">
		</activity>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="13fb58c44348a16b693a6072e11011434413cfa3" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />

</manifest>